html * {
    font-family: "Open Sans";
}

.content {
    width: 100%;
    max-width: 1200px;
}

.fs-16 {
    font-size: 16px;
}

.fw-6 {
    font-weight: 600;
}

.fc-white {
    color: white;
}

.br-8 {
    border-radius: 8px;
}

.nav-link {
    color: white;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-purple {
    background-color: var(--purple);
}